body {
    background-color: black;
    font-weight: 10;
}
nav p {
    color: aliceblue;
    font-size: 26px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: 0px;
    margin-left: 20%;
}
.heading-content {
    color: aliceblue;
    font-size: 20px;
    padding-top: 0px;
    margin-top: 0px;
    border-top: 0px;
    font-style: italic;
    margin-left: 20%;
}
nav table {
    float : right;
    margin-right: 15%;
}
nav th {
    color: aliceblue;
    font-size: 14px;
    padding: 0 80px 0 80px;
}
footer {
    color: aliceblue;
    margin-left: 20%;
}
.div-blogs {
    margin: 1.5% 0% 1% 0%;
    background-color: aliceblue;
    padding-right: 10%;
    padding-left: 15%;
    padding-bottom: 3%;
    align-content: center;
}
.date {
    margin: 0;
    float: left;
    font-size: 12px;
    color: gray;
}
.read-time {
    margin :0;
    float:right;
    font-size: 12px;
    color: gray;
}


.card {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 280px;
    margin: 15px 55px;
    text-align: center;
    font-family: arial;
    display: inline-block;
    vertical-align: top;
    border : 0.2px solid gray;
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  .blog-image {
      width : 280px;
      height: 220px;
  }
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  .post-heading {
      font-size: 20px;
      font-weight: 500;
      color: black;
      padding-left: 8px;
      padding-right: 8px;
      margin-bottom: 8px;
      text-align: left;
  }
  .blog-content {
      font-size: 14px;
      color: gray;
      text-align: left;
      margin: 2px 8px;
  }
  figcaption {
      margin: 5px;
      padding-bottom: 8px;
  }
  .clap-logo {
      float: left;
      padding: 1px 5px 5px 5px;
      width: 8%;
  }
  .heart-logo {
      float: right;
      padding: 3px 10px 10px 5px;
      width: 8%;
  }
  .clap-count {
      float:left;
      padding: 3px;
      color: gray;
  }
  hr {
      margin: 8px 10px;
  }
  